# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
ENV/
env/

# Environment files
.env
.env.*

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDE / editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Streamlit local files
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
